<%= form_for [refinery, :inquiries, inquiry] do |f| %>

  <div class="field form-row pb-2 pt-1">
    <div class="col-sm-2">
      <%= f.label :name, :class => 'placeholder-fallback required col-form-label' %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :name, :class => 'text form-control', :required => 'required',
        :placeholder => (t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
    </div>
  </div>

  <div class="field form-row pb-2">
    <div class="col-sm-2">
      <%= f.label :email, :class => 'placeholder-fallback required col-form-label' %>
    </div>
    <div class="col-sm-3">
      <%= f.email_field :email, :class => 'text email form-control', :required => 'required', type:"email",
        :placeholder => (t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
    </div>
  </div>

  <% if Refinery::Inquiries.show_phone_number_field %>
    <div class="field form-row pb-2">
      <div class="col-sm-2">
        <%= f.label :phone, :class => 'placeholder-fallback col-form-label' %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :phone, :class => 'text phone form-control',
          :placeholder => (t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
      </div>
    </div>
  <% end %>

  <div class='field message_field form-row pb-2'>
    <div class="col-sm-2">
      <%= f.label :message, :class => 'placeholder-fallback required col-form-label' %>
    </div>
    <div class="col-sm-6">
      <%= f.text_area :message, :rows => 8, :required => 'required',class:'form-control',
        :placeholder => (t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
    </div>
  </div>

  <% if Refinery::Inquiries.recaptcha_site_key.present? %>
    <% content_for :javascripts do %>
      <script src='https://www.google.com/recaptcha/api.js'></script>
    <% end %>
    <div class='field captcha form-row'>
      <div class="g-recaptcha" data-sitekey="<%= Refinery::Inquiries.recaptcha_site_key %>"></div>
    </div>
  <% end %>

  <div class="actions form-group row pt-2">
    <div class="col offset-sm-2">
      <%= f.submit t('.send'),class:"btn btn-primary py-2 px-3" %>
      <%# <%= link_to t('.privacy_policy'), "/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
    </div>
  </div>
<% end %>
